/*
Theme name: My theme
Version: 1.0.0
Description: custom theme
Author: Nina
 */
a{
    text-decoration: none;
}
body{
    background: url("assets/images/unnamed.jpg");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
        font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    margin: 0;
}
.content{
    max-width: 1200px;
    margin: auto;
    padding: 32px 5px 5px 5px;
    line-height: 2em;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
   }

.menu{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2em;
    background-color: #32c1ec;
    margin: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.84);
    position: sticky;
    top: 0px;
    z-index: 99;
}
.menu-item{
    text-decoration: none;
    display: inline-block;
    color: #24C2C7;
    padding: 5px 15px 5px 15px;
}

.menu-item a{
    color: black;
    text-decoration: none;
}

.feedback{
    display: flex;
    justify-content: center;
    color:  whitesmoke;
    text-shadow: 1px 1px 2px black;
}
.feedback input{
    height: 25px;
    border-radius: 4px;
    border: none;
}
.feedback textarea{
    border-radius: 4px;
    resize: none;
    border: none;
}
.title{
    color: #32c1ec;
    text-shadow: 1px 1px 2px black;
}
.contact{
    font-size: 1.5em;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
}
.front{
    font-size: 1.2em;
}
